#logoImage {
	height: 100px;
	width: 100px;
}

#name {
	text-align: center;
}

#image {
	margin-right: 0px;
	float: right;
}

.theBody {
	margin: auto;
	width: 700px;
}

.topBar {
	font-size: 24px;
	background-color: #FF0000;
	width: 700px;
	height: 100px;
}

.menuBar {
	font-size: 20px;
	background-color: #4444ff;
	text-align: center;
}

.navigationBar {
	font-size: 20px;
	background-color: #44ff44;
	float: left;
	height: 200px;
}

.bio {
	font-size: 20px;
	background-color: #333333;
	height: 200px;
}

.footerBar {
	font-size: 20px;
	background-color: #1111ff;
	text-align: center;
}
